/* App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust as needed */
}
.project-description {
  margin-top: 20px;
  padding: 15px;
  background-color: #f9f9f9; /* Light grey background */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  text-align: center;
}

.project-description h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
}

.project-description p {
  font-size: 1em;
  line-height: 1.6;
}
