/* Homepage.css */
.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; /* Adjust padding as needed */
  /* background-image: url("../pics/background.png"); */
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-color: var(--background-color);
}

.newpost-section {
  width: 100%;
  max-width: 750px;
  text-align: center;
}

.post-feed-section {
  width: 100%;
  max-width: 800px; /* Ensure PostFeed does not exceed this width */
  margin-top: 20px; /* Space between greeting and post feed */
}
