/* LogReg.css */

[theme="light"] {
  --logreg-form-background-color: var(--background-color);
  --logreg-border-color: #000000;
  --logreg-textarea-background-color: #e9e9e9;
}

[theme="dark"] {
  --logreg-form-background-color: var(--background-color);
  --logreg-border-color: #ffffff;
  --logreg-textarea-background-color: #909090;
}

.LogReg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust as needed */
}

.LogReg-form {
  max-width: 300px;
  padding: 20px;
  border: 1px solid var(--logreg-border-color);
  border-radius: 8px;
  background-color: var(--logreg-form-background-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center form content */
}

.LogReg-form label {
  display: block;
  margin-bottom: 10px;
}

.LogReg-input,
.LogReg-textarea {
  width: 100%;
  padding: 8px;
  font-size: 1em;
  border: 1px solid var(--logreg-border-color);
  background-color: var(--logreg-textarea-background-color);
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px; /* Space between inputs */
}

.LogReg-textarea {
  height: 100px; /* Adjust height as needed */
  resize: none; /* Prevent resizing */
  overflow-y: auto; /* Ensure scrollbar appears if content exceeds height */
}

.LogReg-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.LogReg-button:hover {
  background-color: #0056b3;
}

.LogReg-error {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}
