/* LogReg.css */

.LogReg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust as needed */
}

.LogReg-form {
  max-width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center form content */
}

.LogReg-form label {
  display: block;
  margin-bottom: 10px;
}

.LogReg-input {
  width: 100%;
  padding: 8px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px; /* Space between inputs */
}

.LogReg-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.LogReg-button:hover {
  background-color: #0056b3;
}

.LogReg-error {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}
