[theme="light"] {
  --modal-border-color: #000000;
  --modal-background-color: var(--background-color);
  --modal-textarea-background-color: #e9e9e9;
}

[theme="dark"] {
  --modal-border-color: #ffffff;
  --modal-background-color: var(--background-color);
  --modal-textarea-background-color: #909090;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  background: var(--modal-background-color);
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  max-height: 80vh; /* Set max-height to allow scrolling if content is too large */
  overflow-y: auto; /* Enable vertical scrolling */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box; /* Ensure padding is included in the width */
  z-index: 1000; /* Ensure modal content is above overlay */
}

.modal-close {
  position: absolute;
  top: -15px;
  right: -15px;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: black;
}

.modal-input,
.modal-textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--modal-border-color);
  background-color: var(--modal-textarea-background-color);
  border-radius: 4px;
  box-sizing: border-box; /* Ensure padding is included in the width */
}

.modal-textarea {
  resize: none; /* Make textarea non-resizable */
  height: 100px; /* Set a fixed height */
}

.modal-button {
  background-color: #00666d;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.modal-button:hover {
  background-color: #00666dda;
}
