/* PostForm.css */

[theme="light"] {
  --postform-border-color: #000000;
  --postform-background-color: var(--background-color);
  --postform-textarea-background-color: #e9e9e9;
  --button-color: #00666d;
  --button-color-hover: #00666dda;
}

[theme="dark"] {
  --postform-border-color: #ffffff;
  --postform-background-color: var(--background-color);
  --postform-textarea-background-color: #909090;
  --button-color: #00666d;
  --button-color-hover: #00666dda;
}

.PostForm-container {
  display: block;
  width: 100%; /* or another value that fits your layout */
}

/* Form styles for the post form */
.PostForm-form {
  max-width: 300px;
  padding: 20px;
  border: 1px solid var(--postform-border-color);
  border-radius: 8px;
  background-color: var(--postform-background-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center form content */
  display: none; /* Initially hidden */
}

.PostForm-form.visible {
  display: block; /* Show form when visible class is added */
}

.PostForm-form label {
  display: block;
  margin-bottom: 10px;
}

.PostForm-input,
.PostForm-textarea {
  width: 100%;
  padding: 8px;
  font-size: 1em;
  border: 1px solid var(--postform-border-color);
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px; /* Space between inputs */
  background-color: var(--postform-textarea-background-color);
}

.PostForm-textarea {
  height: 100px; /* Adjust height as needed */
  resize: none; /* Prevent resizing */
  overflow-y: auto; /* Ensure scrollbar appears if content exceeds height */
  background-color: var(--postform-textarea-background-color);
}

.PostForm-button {
  color: var(--navbar-text-color);
  white-space: pre;
  font-weight: bold;
  display: block; /* Makes the button a block-level element */
  width: 100%; /* Ensures the button takes up the full width of its container */
  padding: 20px 20px; /* Adjust padding for better appearance */
  background-color: var(--button-color); /* Example background color */
  color: white; /* Text color */
  border: none; /* Remove border */
  border-radius: 5px; /* Optional: add rounded corners */
  text-align: center; /* Center the text */
  font-size: 20px; /* Adjust font size as needed */
  cursor: pointer; /* Change cursor to pointer on hover */
  margin-top: 10px; /* Adds some space above or below the button */
}

.PostForm-button:hover {
  background-color: #00666dda;
}

.PostForm-error {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}
