/* PostFeed.css */
.post-feed {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px; /* Add padding to avoid content touching edges */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
  overflow: hidden; /* Prevent content from overflowing */
  position: relative; /* Ensure relative positioning within the container */
  text-align: center;
}

button {
  background-color: #00666d;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
