[theme="light"] {
  --shared-post-header-background-color: #00666d54;
  --feed-border-color: #000000;
  --feed-textarea-background-color: #e9e9e9;
  --feed-popup-background-color: var(--background-color);
}

[theme="dark"] {
  --shared-post-header-background-color: #00666d54;
  --feed-border-color: #ffffff;
  --feed-textarea-background-color: #909090;
  --feed-popup-background-color: var(--background-color);

}

.post {
  position: relative;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  overflow: visible; /* Ensure the blur doesn't overflow */
  background-color: rgba(176, 238, 220, 0.368);
}

.post-actions {
  width: 100%;
  display: flex;
  /*justify-content: flex-start;  Align everything to the left */
  align-items: center;
  margin-top: 10px;
}
.post h2 {
  margin-top: 0;
}

.comments {
  border-bottom: 1px solid var(--feed-border-color);
  padding: 8px 0;
}

.comment {
  border-bottom: 1px solid var(--feed-border-color);
  padding: 8px 0;
}

.comment p {
  margin: 0;
}

.comment small {
  color: var(--feed-border-color);
}
.comment-form textarea {
  width: 100%;
  padding: 8px;
  font-size: 1em;
  border: 1px solid var(--feed-border-color);
  background-color: var(--feed-textarea-background-color);
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px; /* Space between textarea and button */
  resize: none; /* Prevent resizing */
}

.comment-form button {
  display: block;
  padding: 10px;
  background-color: #00666d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
.like-container {
  position: right;
  margin-right: auto;
}
.comment-form button:hover {
  background-color: #00666dda;
}

.like-popup {
  position: absolute;
  background: var(--feed-popup-background-color);
  border: 1px solid var(--feed-border-color);
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 99999;
  overflow: visible;
  top: 100%; /* Position below the button */
  left: 0; /* Align to the left of the button */
  transform: translateY(10px); /* Add some space between the button and popup */
  white-space: nowrap; /* Prevent text from wrapping */
  visibility: hidden; /* Initially hidden */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.like-popup.visible {
  visibility: visible; /* Make visible when needed */
  opacity: 1;
}

.post-actions {
  display: flex;
  justify-content: center; /* Center the buttons */
  align-items: center;
  margin-top: 10px;
}

.post-actions .like-container {
  position: relative;
  display: inline-block;
}

.post-actions button {
  background-color: #00666d;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
  white-space: nowrap; /* Prevent button text from wrapping */
}

.post-actions button:last-child {
  margin-right: 0;
}

.post-actions .like-button {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  padding: 0;
  margin: 0;
  font-size: 12px;
  color: white;
  margin-left: 5px;
}

.heart-icon {
  font-size: 32px;
  line-height: 1;
}

.post-actions .like-count{
  margin: 5px;
  font-weight: bold;
  color: var(--text-color);
}

.post-actions .like-count.liked{
  color: red;
}

.follow-button {
  margin-left: 10px;
  background-color: #00666d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.follow-button:hover {
  background-color: #00666dda;
}

.shared-header {
  background-color: var(--shared-post-header-background-color);
  padding: 8px;
  font-style: italic;
  margin-bottom: 8px;
}

.post-actions .share-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.post-actions .share-button:hover {
  background-color: #218838;
}

.original-post-link {
  color: white;
  cursor: pointer;
}

.original-post-link:hover {
  text-decoration: underline;
}

.modal-button {
  background-color: #00666d;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.modal-button:hover {
  background-color: #00666dda;
}
.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  color: white;
  background-color: #00666d;
}

.like-count {
  color: var(--text-color);
}
