/* RepostModal.css */

[theme="light"] {
  --repostmodal-border-color: #000000;
  --repostmodal-textarea-background-color: #e9e9e9;
}

[theme="dark"] {
  --repostmodal-border-color: #ffffff;
  --repostmodal-textarea-background-color: #909090;
}

.RepostModal-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--repostmodal-border-color);
  background-color: var(--repostmodal-textarea-background-color);
  border-radius: 4px;
  box-sizing: border-box;
}

.RepostModal-textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--repostmodal-border-color);
  background-color: var(--repostmodal-textarea-background-color);
  border-radius: 4px;
  box-sizing: border-box;
  resize: none; /* Prevent resizing */
  height: 100px; /* Set a fixed height */
}

.RepostModal-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.RepostModal-button:hover {
  background-color: #0056b3;
}
